.statsContainer {
  margin: 1rem;
}

.statsAction {
  margin: 1rem;
  padding: 0.5rem;
}

.liveMatchTitle {
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: mediumseagreen;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.nameColumn {
  font-family: Source Sans Pro,sans-serif;
  font-weight: bold;
}