.bannerContainer {
  background-color: #092051;
  padding: 0.5rem;
}

.title{
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: #eee;
}

.secondaryTitle{
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.1rem;
  color: #eee;
}

.description{
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6rem;
  color: #eee;
}

