.error {
  background-color: indianred;
}

.success {
  background-color: lightgreen;
}

.warning {
  background-color: orange;
}

.info {
  background-color: darkgray;
}

.textFont {
  font-family: Source Sans Pro,sans-serif;
}