@font-face {
  font-family: 'FSAlbertPro';
  src: local('FSAlbertPro'), url('./common/fonts/fsalbert_pro.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'FSAlbertPro';
  src: local('FSAlbertPro-Bold'), url('./common/fonts/fsalbert_pro-bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'FSAlbertPro';
  src: local('FSAlbertPro-ExtraBold'), url('./common/fonts/fsalbert_pro-extrabold.otf') format('opentype');
  font-weight: 800;
}

* {
  font-family: Source Sans Pro,sans-serif;
  color: #333333;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;

  .fantasy-h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25;
  }

  .fantasy-paragraph {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.38;
  }

  .fantasy-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: #e6007d;
  }

  ::placeholder {
    color: #bbbbbb !important;
  }
}

.fantasyContainer {
  padding: 0 1rem;
  margin: 1.5rem 0;

  .row {
    margin: 0 1rem;

    .col {
      padding: 0;
    }
  }
}

.raised {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.fixedHeaderContainer {
  margin-top: 3.6rem;
  height: 850px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.backgroundImageRight {
  background-image: url(./common/images/logos/fantasybgImage2.jpeg);
  position: fixed;
  left: 750px;
  right: 0;
  background-size: cover;
  top: 0;
  bottom: 0;
}

.mainContainer {
  max-width: 750px;
  height: 100%;
}