.userTeamContainer {
 margin: 0.5rem;
}

.playerRowStyle {
 .allrounder {
  backgroundColor: 'rgba(63, 195, 128, 0.9)';
 }
}

.removeIcon {
 background-color: whitesmoke;
}

.removeIcon:hover {
 opacity: 80%;
 color: indianred;
 cursor: pointer;
}

.errorRow {
 margin: 1rem;
}

.nameColumn {
 font-family: Source Sans Pro,sans-serif;
 font-weight: 500;
}

.expandPlayerContainer {
 margin: 1rem;
}

.saveTeamBtn {
 padding: 1rem;
 margin-bottom: 0.2rem;
 max-width: 750px;
 color: #7b7a7a;
}

.transferOverview {
 margin: 0.2rem;
 padding: 1rem;
 font-family: Source Sans Pro,sans-serif;
 background-color: #4F91CD;
 border-radius: 1rem;
}

.teamOverview {
 margin: 0.2rem;
 padding: 1rem;
 font-family: Source Sans Pro,sans-serif;
 background-color: #4F91CD;
 border-radius: 1rem;
}

.errorPanel {
 padding: 1rem;
 margin-top: 0.5rem;
}

.createTeamContainer {
 padding: 1rem;
 margin-top: 0.5rem;
}

.createTeamBtn {
 padding: 1rem;
 margin-top: 0.5rem;
}

.iplPlayerListTitle {
 border-radius: 0.5rem;
 font-weight: 600;
 background-color: mediumseagreen;
 padding: 1rem;
 margin: 1rem;
}

.userTeamTabMenuLink {
 justify-content: space-around;
 cursor: pointer;
 align-items: center;
 font-weight: 500;
 padding: 0.5rem;
 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
 border-radius: 2px;
}

.playerCountTxt {
 font-size: 16px;
 font-weight: bold;
 color: lightgray;
}