.container {
 margin: 1rem;
}

.playerRowStyle {
 .allrounder {
  backgroundColor: 'rgba(63, 195, 128, 0.9)';
 }
}

.removeIcon {
 background-color: whitesmoke;
}

.removeIcon:hover {
 opacity: 80%;
 color: indianred;
 cursor: pointer;
}