.gamecardcontainer {
  margin: 0.2rem;
  height: 10rem;
  font-weight: 500;
  font-family: Source Sans Pro,sans-serif;
}

.leaguecardcontainerlogin {
  margin: 0.2rem;
  height: 10rem;
  font-weight: 500;
  font-family: Source Sans Pro,sans-serif;
}

.leaguecardcontainerNotLogin {
  margin: 0.2rem;
  height: 8rem;
  font-weight: 500;
  font-family: Source Sans Pro,sans-serif;
}

.createSquadcardcontainer {
  margin: 0.2rem;
  font-weight: 500;
  font-family: Source Sans Pro,sans-serif;
}

.fantasyHelpcardcontainer {
  margin: 0.2rem;
  font-weight: 500;
  font-family: Source Sans Pro,sans-serif;
}

.textFont {
  font-family: Source Sans Pro,sans-serif;
}

.CardBoldText {
  font-family: Source Sans Pro,sans-serif;
  font-weight: bold;
}

.timeMsg {
  color: indianred;
}

.publicLeague {
  color: indianred;
}

.privateLeague {
  color: #03a9f4;
}

.userTeamTitle {
  color: indianred;
  font-family: Source Sans Pro,sans-serif;
}

.badgeDisplay {
  background-color: dodgerblue;
  color: whitesmoke;
  padding: 0.2rem;
}

.marginleft {
  margin-left: 3rem;
}

.cardBody {
  margin-left: 1rem;
  right: 1rem;
  padding-left: 0.4rem;
}

.fantasyInfoLoginContainer {
  background-color: dodgerblue;
  color: whitesmoke;
}