.contentRow {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.headerRow {
  padding: 0.5rem;
  margin-left: 3rem;
  margin-top: 0.3rem;
}

.stepHeaderContentCol {
  margin-top: 0.5rem;
}

.stepHeaderLogoCol {
  margin-top: 0.5rem;
}

.userLinkCardContainer {
  margin: 0.2rem;
  height: 5rem;
}

.iplContentTitle {
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: mediumseagreen;
  padding: 1rem;
  margin: 1rem;
}