.contentRow {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  font-family: Source Sans Pro,sans-serif;
}

.headerRow {
  font-family: Source Sans Pro,sans-serif;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.textFont {
  font-family: Source Sans Pro,sans-serif;
}


.stepHeaderContentCol {
  margin-top: 0.5rem;
}

.stepHeaderLogoCol {
  margin-top: 0.5rem;
}

.userLinkCardContainer {
  margin: 0.2rem;
  height: 5rem;
}

.iplContentTitle {
  font-family: Source Sans Pro,sans-serif;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: mediumseagreen;
  padding: 1rem;
  margin: 1rem;
}

.boldspan {
  font-family: Source Sans Pro,sans-serif;
  font-weight: bold;
}