.matchBackcontainer {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.nameColumn {
  font-family: Source Sans Pro,sans-serif;
  font-weight: bold;
}
 .columnheader {
   margin: 1rem;
 }