.userTeamViewContainer {
  background-image: url(../../../../../../common/images/logos/banner/teamview1.jpg);
  background-size: cover;
  min-height: 850px;
  color: white;
}

.teamRowTitle {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-top: 2rem;
}

.titlebkcolor {
  color: lightblue !important;
  padding: 0.5rem;
}

.teamColTitle {
  color: white;
}

.playerCol {
  color: midnightblue;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}