.homeContainer {
  margin: 0.5rem;
}
.contentRow {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.headerRow {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.stepHeaderContentCol {
  margin-top: 3rem;
}

.stepHeaderLogoCol {
  margin-left: 1rem;
  margin-top: 3rem;
}

.userLinkCardContainer {
  margin: 1rem;
  height: 5rem;
  width: 20rem;
}
