.errorMessage {
  background-color: indianred;
}

.successMessage {
  background-color: forestgreen;
}

.leagueContainer {
  margin: 1rem;
}

.leagueAction {
  margin: 1rem;
  padding: 0.5rem;
}

.leagueTabMenuLink {
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  padding: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.leagueTitle {
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: mediumseagreen;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-family: Source Sans Pro,sans-serif;
}