.pointsystemcontainer {
  margin-top: 2rem;
}

.pointsPositive {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: lightgreen;
}

.pointsNegative {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: lightcoral;
}

.iplPointsTitle {
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: mediumseagreen;
  padding: 1rem;
  margin: 1rem;
}