.container {
  margin: 1rem;
}
.contentRow {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.headerRow {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}

.stepHeaderContentCol {
  margin-top: 3rem;
}

.stepHeaderLogoCol {
  margin-left: 1rem;
}

