.statsContainer {
  margin: 0.5rem;
}

.statsAction {
  margin: 0.5rem;
  padding: 0.5rem;
}

.statsTitle {
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: mediumseagreen;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-family: Source Sans Pro,sans-serif;
}

.secondaryTitle {
  border-radius: 0.2rem;
  color: black;
  background-color: mediumseagreen;
  font-weight: normal!important;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  font-family: Source Sans Pro,sans-serif;
}